- if user_signed_in?
  - if post.like_user?(current_user.id)
    .like_delete 
      = link_to "/posts/#{post.id}/likes", method: :delete, remote: true do
        %i.fas.fa-heart
        %span #{post.likes.count}
  - else
    .like_post
      = link_to "/posts/#{post.id}/likes", method: :post, remote: true do
        %i.far.fa-heart
        %span #{post.likes.count}
        
- else
  .unlogin_like
    %i.far.fa-heart
    = "#{post.likes.count}"