.menu_box
  .menu_items 
    = link_to "#", class: "menu_item" do
      ⭐️ランキング
    = link_to "#", class: "menu_item" do
      review多いランキング
    = link_to "#", class: "menu_item" do
      ⭐️⭐️
    = link_to "#", class: "menu_item" do
      ◎⭐️
  .form
    %input(type="search" class="search" placeholder="キーワードを入力してください")
    %input(type="submit" class="subumit" value="検索")
- if user_signed_in?
  .post
    = link_to "#", class: "post__btn" do
      Let's Review!!
- else
  .post
    = link_to "Let's Sign Up!!", new_user_registration_path, class: "post__btn"