.menu_box
  .menu_items 
    = link_to "#", class: "menu_item" do
      ⭐️ランキング
    = link_to "#", class: "menu_item" do
      review多いランキング
    = link_to "#", class: "menu_item" do
      ⭐️⭐️
    = link_to "#", class: "menu_item" do
      ◎⭐️
  -# .form
  -#   %input(type="search" class="search" placeholder="キーワードを入力してください")
  -#   %input(type="submit" class="subumit" value="検索")

  -# = form_for @form url: search_posts_path, method: :get, class: "search-form" do |form|
  -#   = form.text_field :keyword, placeholder: "投稿を検索する", class: "search"
  -#   = form.submit "検索", class: "subumit"

- if user_signed_in?
  .post
    = link_to "Let's Review!!", new_post_path, class: "post__btn"
- else
  .post
    = link_to "Let's Sign Up!!", new_user_registration_path, class: "post__btn"