.menu_box
  .menu_items 
    %ul#rankings
      %li
        = link_to "/posts/star_ranking", method: :get, class: "menu_item" do
          評価ランキング
      %li
        = link_to "/posts/like_ranking", method: :get, class: "menu_item" do
          いいね！ランキング
        
      #genre_rankings
        .menu_item_genres ジャンルランキング
        
        %ul.hidden
          - @genres.each do |genre|
            %li.hidden_ranking
              = link_to "#{genre.name}ランキング", "/genres/#{genre.id}/each_genre_ranking", method: :get, class: "menu_item_genres hidden"
            -# %li
            -#   = link_to "#{genre.name}ランキング", "/genres/#{genre.id}/each_genre_ranking", method: :get, class: "menu_item genres"

  = form_tag('/posts/search', method: :get, class: "form") do
    = text_field_tag :keyword, :'', id:'searching-form', placeholder: 'タイトル名のキーワードを入力！', autocomplete:'off'
    = submit_tag "検索", class: "search-btn"

