- @posts.each do |post|
  .review_box
    .r_data
      .left_box
        = link_to "No.#{post.id}", "/posts/#{post.id}", class: "r_id"
        .r_title
          = post.title
        - post.genres.each do |p|
          = link_to "#{p.name}", "/genres/#{p.id}", class: "r_genre"
        .r_star ⭐️⭐️⭐️⭐️
      .right_box
        .r_nickname
          = link_to "#{post.user.nickname}", "/users/#{post.user.id}", class: "r_nickname"
        .r_date
          = post.created_at.strftime("%Y/%m/%d/ %H:%M")
    .review 
      = post.review
    = image_tag post.image, class: "review_image" if post.image.present?
    - if user_signed_in? && current_user.id == post.user_id
      .review_ed_btn
        = link_to "編集", "/posts/#{post.id}/edit", class: "review_edit_btn"
        = link_to "削除", "/posts/#{post.id}", data: { confirm: '削除しますか？' }, class: "review_destroy_btn", method: :delete