.reviews
  .review_th Reviews
  .review_box
    .r_data
      .left_box
        .r_id No.#{@post.id}
        .r_title
          = @post.title
        - @post.genres.each do |p|
          = link_to "#{p.name}", "#", class: "r_genre"
        .r_star ⭐️⭐️⭐️⭐️
      .right_box
        = link_to "#{@post.user.nickname}", "#", class: "r_nickname"
        .r_date
          = @post.created_at.strftime("%Y/%m/%d/ %H:%M")
    .review 
      = @post.review
    = image_tag @post.image, class: "review_image" if @post.image.present?
    - if current_user[:id] == @post.user_id
      .review_ed_btn
        = link_to "編集", edit_post_path, class: "review_edit_btn"
        = link_to "削除", "/posts/#{@post.id}", class: "review_destroy_btn", method: :delete