.side_bar
  .genre_name genres
  .genres
    = link_to "#", class: "genre_box" do
      恋愛
    = link_to "#", class: "genre_box" do
      ギャグ
    = link_to "#", class: "genre_box" do
      SF
    = link_to "#", class: "genre_box" do
      ホラー
    = link_to "#", class: "genre_box" do
      アクション
    = link_to "#", class: "genre_box" do
      シリアス
