!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LetsAnimeReview
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  .header
    .theme
      = link_to root_path, class: "theme__title" do
        Let's Anime Review!!
    .h_items
      - if user_signed_in?
        = link_to "#{current_user.nickname}のページ", "/users/#{current_user.id}", class: "h_items__left_btn"
          
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "h_items__right_btn"
      - else
        = link_to "新規登録", new_user_registration_path, class: "h_items__left_btn"
          
        = link_to "ログイン", new_user_session_path, class: "h_items__right_btn"
  %body
    = yield
